.main {
  background-color: #f2efff;
margin-bottom: 4rem;
}


.level{
/* display: grid;
grid-template-columns: 33% 33% 33%; */
display: flex;
align-items: center;
justify-content: space-between;
gap: 1rem;
  padding: 2rem 0;

  width: 100%;
}

.item{
  width: 100%;
}
@media(min-width:756px){
    .reminder {
      max-width: 100%;
        display: grid;
       grid-template-columns: 2fr 1fr 2fr;
        padding: 1rem;
        gap: 1rem;
      }
      
}

.reminder{
    display: grid;
    /* gap: 3rem;
    padding: 1rem; */
}