.main {
  padding: 2rem;
  max-width: 1366px;
  margin: 0 auto;
}

.background {
  background-image: url("../../assets/loginbg.png");
  background-repeat: no-repeat;
  min-height: 100vh;
border-top-right-radius: 12px;
padding: 2rem;
}



@media(max-width:756px){
    .background{
        padding: 1rem;
        
    }
  .main{
    padding: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
  }
}