@import "../../variable";

.button {
  & > button {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
  }

  &_primary {
    & > button {
      background-image: $blue_darkn;
      color: white;
      padding: 1.2rem 2.5rem;
      border-radius: 0.8rem;
      font-size: 1.6rem;
      font-weight: 700;
      border: 1px solid #0496ff;
      &:hover {
        background-image: none;
        background-color: white;
        color: #0496ff;
      }
    }
  }

  // secondry

  &_secondry {
    & > button {
      width: 20rem;
      padding: 2.4rem 0rem;
      font-size: 1.4rem;
      font-weight: 700;
      color: white;
      background-color: #000;
      border-radius: 1rem;
      border: 1px solid #000;
      justify-content: center;
      & > * {
        &:last-child {
          margin-left: 0.4rem;
          font-size: 2rem;
        }
      }
      &:hover {
        background-color: white;
        color: #000;
      }
    }
  }

  &_secondry--light {
    & > button {
      width: 20rem;
      padding: 2.4rem 0rem;
      font-size: 1.4rem;
      font-weight: 700;
      color: #595959;
      background-color: white;
      border-radius: 1rem;
      border: 1px solid #595959;
      justify-content: center;
      & > * {
        &:last-child {
          margin-left: 0.4rem;
          font-size: 2rem;
        }
      }
      &:hover {
        color: white;
        background-color: #000;
      }
    }
  }
}
