@import "../../utils/mixins";

.navbar {
  position: relative;
  padding: 1.4rem 0rem;
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-menus {
      display: flex;
      align-items: center;
      justify-content: center;
      & > * {
        &:not(:last-child) {
          margin-right: 4rem;
        }
      }

      // Media Query
      @include respond(tab-port) {
        display: none;
      }
    }

    &-profile {
      display: flex;
      align-items: center;
      justify-content: center;
      & > * {
        &:not(:last-child) {
          margin-right: 3rem;
        }
      }
      &-menubar {
        display: none;
        @include respond(tab-port) {
          display: block;
        }
        & > * {
          font-size: 3rem;
          cursor: pointer;
          margin-left: 3rem;
        }
      }
    }
  }
}

// nav Item

.navitem {
  padding: 2rem 0rem;

  & > div {
    position: relative;
    & > a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      & > p {
        font-size: 1.6rem;
        font-weight: 700;
      }
      & > * {
        &:first-child {
          font-size: 2rem;
          margin-right: 0.5rem;
        }
      }
      &:hover {
        color: #ff0000;
        transition: 0.2s ease-in-out;
      }
    }
  }
}

.navbarDropDown {
  position: absolute;
  top: 4rem;
  left: -3.8rem;
  width: 24rem;
  padding-left: 2rem;
  padding-right: 2rem;

  &-container {
    background-color: white;
    padding: 0rem 2rem;
    text-align: start;
    & > * {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

// //////////////////
// Mobile Navbar
.mobileNav {
  position: absolute;
  top: 0rem;
  z-index: 1000000000000;
  right: -15px;
  float: right;

  &-container {
    background: #daffdf;
    height: 100vh;
    width: 300px;
    padding: 3rem 2rem;
    &-cancel {
      color: black;
      cursor: pointer;
      & > * {
        font-size: 3rem;
      }
    }
    &-logo {
      margin-top: 2rem;
      text-align: center;
    }
    // Menus
    &-menus {
      margin-top: 5rem;
      &-menu {
        display: flex;
        align-items: center;
        padding: 1.5rem 0rem;
        color: black;
        & > * {
          &:first-child {
            margin-right: 1rem;
            font-size: 2rem;
          }
          &:last-child {
            font-size: 1.4rem;
            font-weight: 600;
          }
        }
      }

      &-subMenus {
        display: flex;
        align-items: center;
        margin-left: 2rem;
        padding: 1.5rem 0rem;
        & > * {
          &:first-child {
            margin-right: 1rem;
            font-size: 2rem;
            color: rgba(0, 0, 0, 0.582);
          }
          &:last-child {
            font-size: 1.4rem;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.582);
          }
        }
      }
    }
  }
}
