
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.section{
    background-color: white;
    border-radius: 12px;
    
}


.inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins';
    padding: 2rem 1rem;
}

.title{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Poppins';
    letter-spacing: 0.4px;
}


.range{   
    font-size: 1.7rem;
    font-family: 'Poppins';

}

.select{
    background-color: #F9FBFF ;
    padding: 1rem ;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.icon{
    font-size:  2rem;
}