
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.section{
    padding: 4rem 4rem;
    background-color: white;
    border-radius: 12px;
    
}


.inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
        max-width: 50%;
    font-family: 'Poppins';
}

.title{
    font-size: 2.6rem;
    font-weight: 700;
    font-family: 'Poppins';
    letter-spacing: 0.6px;
}


.range{
    
    font-size: 1.7rem;
    font-family: 'Poppins';
    padding: 1rem 2rem;
}

.select{
    background-color: #F9FBFF ;
    padding: 1rem 2rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.icon{
    font-size:  2rem;
}