@import "../variable";

.bg_gray {
  background-color: $gray;
}
.center {
  text-align: center;
}

// Toggle Btn active

#toggle_active {
  background: #f00;
  color: white;
}

#color_white {
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  &:hover {
    background-color: #39de5d;
  }
}
