.main{
    overflow-x: hidden;
}

.section{

max-width: 100%;
    padding: 20rem 0;
    overflow-x: hidden;
}


table{
    width: 100%;
    background-color: #ffffff;
    font-size: 1.6rem;
    border-collapse: collapse;
}


td{
    text-align: center;
}
td,th{
    padding: 2rem;
}


tr{
    border-bottom: 1px solid gray;
}




th{
    text-align: center;
}

.first{
    border-right: 1px solid gray;
}
.last{
    border-left: 1px solid gray;
}



@media(max-width:650px){

    .card{
        max-width: 100%;
        overflow-x: auto;
    }
    /* th{
        display: none;
    }
    td{
        display: block;
        text-align: right;
        display: grid;
        grid-template-columns: 1fr 2fr;
        
      
    }

    td::before{
        content: attr(data);
        text-align: left;
    
    }
    tr,.last,.first{
        border: none;
    }

    .first{

font-weight: 600;  
      display: flex;
      align-items: center;
      justify-content: center;
    }

    tr:nth-of-type(2){
        border-bottom: 1px solid gray;
        background-color: whitesmoke;
    } */
}
