

.model{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    background-color:rgba(250, 250, 250, 0.614);
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}


.main{
    min-height: 100vh;
    background-color: #F0F2F5;
display: flex;
align-items: center;
justify-content: center;
}
.section{
    max-width: 1146px;
    margin: 0 auto;
 
    border-radius: 12px;
}

.navigate{

    padding: 2rem;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navigate a{
    text-decoration: none;
    color: seagreen;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.4px;
    font-family: 'Poppins';
}

.navigate p{
  
    font-size: 1.6rem;
}

.card{
 
    display: flex;
    align-items: center;

  
    overflow: hidden;
 
    place-items: center;

}

.item1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 8rem;
    flex: 1;

    justify-content: center;



}

.greating{
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 3rem;
    width: 100%;
    text-align: center;
}

.loginTitle{
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 600;
    width: 100%;
    text-align: center;
}


.input{
    outline: none;
    border: none;
    background-color: white;
    padding: 2rem 4rem;
    border-radius: 7px;
    max-width: 320px;
    width: 320px;
margin-bottom: 2rem;
    border: 1px solid white;
   

}
.action{
    background-color: white;
    padding: 1.4rem 4rem;
    border: 1px solid #5A5A5A;
    max-width: 100%;
    margin: 0 auto;
    font-size: 1.6rem;
    text-transform: capitalize;
    width: 320px;
    text-align: center;
    border-radius: 20px;
  

}

.action:hover{
    cursor: pointer;
background-color: whitesmoke;

box-shadow: 0 0 10px rgba(0,0,0,0.2);

}



.img{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    max-width: 100%;

}

.error{
    border: 1px solid red;
}

.button{
    background-color: inherit;
    border: none;

    outline: none;

}
.formG{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.errorText{
    font-size: 1.4rem;
   position: relative;
   top: -2rem;
    color: red;
}



.res{
    font-size: 2em;
    letter-spacing: 0.6px;
    font-family: 'Poppins';
    font-weight: 500;
    text-transform: capitalize;
}

   

@media(max-width:756px){
    .img{
        display: none;
    }

    .card{
        display: block;
    }
    .main{
        display: block;
        padding-top: 6rem;
    }
}

