

.navigate{
    display: flex;
    align-items: center;
    gap: 1rem;   
    width: 100%; 
    justify-content: flex-end;
 
}

.navigate a{
    color: #20DC49;
    font-size: 1.8rem;
    font-weight: 600;
}

.navigate p{
    font-size: 1.6rem;
}