
.main{
    border: 1px solid #ccc;
    padding: 4rem 4rem;
    border-radius: 12px;
    background-color: white;
}

.main2{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 2rem;

}

.title{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    margin-bottom: 4rem;
  

}