
.wrapper{
    background-size: cover;
    min-height: 100vh;
}

.main{
    display: grid;
    gap: 2rem;
    max-width: 1150px;
    margin: 0 auto;
   padding-top: 8rem;
    padding-bottom: 6rem;

}

@media(min-width:756px){
    .main{
        grid-template-columns: 1fr 1fr 1fr;
       padding-bottom: 6rem;
        padding-top: 8rem;
    }
}