
.main{
    background-color: white;
    padding: 1rem ;
    border-radius: 12px;
}
.title{
    font-size: 2rem;
    color: black;
    font-family: 'Poppins';
    font-weight: 600;
    text-align: left;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.inner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}