.main{
    border: 1px solid #ccc;
    padding: 2rem 4rem;
    border-radius: 12px;
    background-color: white;
}



.title2{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 4rem;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    background-color: black;
    width: 100%;
    border-radius: 8px;
}

.icon{
    color: #A6A6A6;
    background-color: white;
    font-size: 4rem;
    border-radius: 50%;
    padding: 1rem;
}

.title{
    color: #B7B7B7;
    font-size: 1.2rem;
    
}

.value{
    font-size: 1.4rem;
    color: white;
    font-weight: 500;
    white-space: nowrap;
}

.item1,.item2,.item3,.item4{
    display: flex;
    align-items:center;
    gap: 2rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(580px,1fr));
    gap: 2rem;
    padding: 2rem 0;
}