@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&family=Poppins&family=Work+Sans&display=swap");

.card {
  background-color:#0F993E;
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 4rem;
  gap: 2rem;
  color: white;
}

.title {
  color: white;
  font-family: "Poppins";
  font-size: 1.4rem;
}

.icon {
 
  font-family: "Poppins";
  font-size: 1.4rem;
  font-weight: 700;
}

.icon1 {
 
  font-size: 3rem;
}

.card > div {
  width: 100%;

  text-align: right;
}

.first {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.second{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first p {
  font-size: 3rem;
  font-weight: 700;
}
