
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&family=Poppins&family=Work+Sans&display=swap');



.card{
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 4rem;
    gap: 2rem;

}

.title{
    color: white;
    font-family: 'Poppins';
    font-size: 1.4rem;
    letter-spacing: 2px;
  
}

.title1{
    color: white;
    font-family: 'Poppins';
    font-size: 1.4rem;
   
    letter-spacing: 1px;
}

.icon{
    color:#0F993E;
    font-family: 'Poppins';
    font-size: 1.4rem;
  
}

.icon1{
    color:#0F993E;
    font-size: 3rem;
}



.card> div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.first{
    margin-bottom: 3rem;
   
}

.first p{
    font-size: 3rem;
    font-weight: 700;
}