

  @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/* .main{
  overflow-x: hidden;
  background-image: url('../../assets/background.jpg');
  background-size: cover;
  min-height: 100vh;
} */

.wrapper{
  max-width: 600px;
  overflow-x: auto;
  width: 100%;
}


.card {
  background-color: white;
  padding: 4rem;
    box-shadow: 4px 6px 10px rgba(0,0,0,0.2);
    border-radius: 12px;

}

.row {
  height: 80px;
  display: flex;
  
  
}

.r1 span {
  max-width: 120px;
  font-size: 1.4rem;
  margin: 0 2rem;
  color: #0052B4;

  font-family: 'Work Sans';

}
.r2 span {
  max-width: 100px;
  text-align: center;
font-size: 1.4rem;
margin: 0 2rem;
color: #0F993E;
font-family: 'Work Sans';
}

.colS {
  width: 70%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
 
}



.r1,
.r2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
height: 50%;
  border-bottom: 1px solid #ccc;
}


.colF,.colT{
    width: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-bottom: 1px solid #cccc;
   border-top: 1px solid #ccc;
}


.colF{
    font-size: 1.4rem;
    color: #DD9A19;
    text-transform: capitalize;
}

.colT{
    color: #0F993E;
    font-weight: 600;
    font-size: 1.4rem;
}


.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    font-size: 1.4rem;
    padding-bottom: 1rem;
   
}



.header div{
    display: flex;
    justify-content: space-between;
    width: 62%;
   
}
.headCol1{
   width: 190px;
    text-align: center;
}

.headCol2{

    position: relative;
    right: 4rem;
}