

.commitment-main{
    padding: 6rem 0;
}

.commitment{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}
@media(max-width:756px){
    .commitment{
        grid-template-columns: 1fr;
    
    }
}